body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.col-md-4 {	
	margin-bottom: 20px;
	text-align: center;
	align-items: center;
	display: flex;
	margin-top: 10%;
}

.child {
	padding: 5%;	
}

.footer-buttons {	
	margin-top: 20%;
}

.btn-default {
	margin-right: 10px;
}